name: Run Testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * *'  # Run daily at midnight UTC

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.23, 1.24, 1.25]
    name: ${{ matrix.os }} @ Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}

    env:
      GO111MODULE: on
      GOPROXY: https://proxy.golang.org
    steps:
      - uses: niden/actions-memcached@v7

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Run Tests
        run: |
          go test -v ./persistence
          go test -v -covermode=atomic -coverprofile=coverage.out .
          go test -bench=. -benchmem -run=^$ ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ matrix.os }},go-${{ matrix.go }}
