name: Run Testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go: [1.18, 1.19, "1.20", 1.21]
    name: ${{ matrix.os }} @ Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}

    env:
      GO111MODULE: on
      GOPROXY: https://proxy.golang.org
    steps:
      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: 4

      - uses: niden/actions-memcached@v7

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Run Tests
        run: |
          go test -v ./persistence
          go test -v -covermode=atomic -coverprofile=coverage.out .

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: ${{ matrix.os }},go-${{ matrix.go }}
